<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- =======================
         Permissão para usar a câmera
         Necessária para escanear QR Codes
    ======================= -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="apk"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ADICIONE ESTAS LINHAS AQUI -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAko7Pwwypl0LEXIa3p6b8n_ghDb5OHeQs"/>

        <!-- =======================
             Activity principal do Flutter
             Configurações para tema, launchMode e mudanças de configuração
        ======================= -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema usado enquanto o Flutter inicializa -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- Intent filter para a tela inicial -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Necessário para registrar plugins Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- =======================
         Para permitir que o app veja outras apps que processam texto
         Necessário para algumas funções do Flutter Text Plugin
    ======================= -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
